<!DOCTYPE html>
<html lang="{{ lang('locale_code') }}" dir="{{ lang('direction') }}">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="{{ asset('dist/app.css') }}">
    {{ salla.head() }}
</head>
<body class="{{ theme.settings.footer_is_dark ? 'dark-mode' : '' }}">

    {% if theme.settings.announcement_bar_enabled and theme.settings.announcement_bar_text %}
        {% include 'components.partials.announcement-bar' %}
    {% endif %}

    {% include 'layouts.partials.top-nav' %}
    {% include 'layouts.partials.header' %}

    <main class="site-content">
        {% block content %}{% endblock %}
    </main>

    {% include 'layouts.partials.footer' %}

    {{ salla.footer() }}
    <script src="{{ asset('dist/app.js') }}"></script>
</body>
</html>
